@font-face {
    font-family: Gotham;
    src: url("HomepageBaukasten-Book.ttf");
}

/* .ani-in {
    animation: ex 2s;
}

.ani-out {
    animation: exx 1s;
}
 */

.grid-container {
    display: grid;
    grid-template-columns: 33% 33% 33.9%;
    background-color: #414781;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
}

.grid-container-table {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #414781;
    padding: 10px;
}

.grid-item-table {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
}

.country {
    font-family: Gotham;
    font-size: 22px;
    display: inline;
    float: right;
}

.cont {
    cursor: pointer;
    width: 45px;
    height: 25px;
    border: 1.5px solid black;
    margin: 0 auto;
}

.cont i {
    margin-left: 38%;
    margin-top: 8%;
}

.content {
    text-align: center;
    font-family: Gotham;
    padding: 10px 0;
    display: none;
    overflow: hidden;
    max-height: 0;
    background-color: #fff;
    margin-top: 20px;
    transition: max-height 0.4s ease-out;
}

.content p {
    padding-left: 15px;
}

#header {
    background-color: #414781;
}

.menu {
    font-family: Gotham;
    font-size:28px;
    padding: 2% 2% 3% 0;
    color: ghostwhite;
}

.menu-item {
    display: inline;
    float: right;
    padding-left: 3%;
}

.host {
    padding: 1px;
    background-color: #abb0e4
}

.domacin {
    font-family: Gotham;
    font-size: 28px;
    color:#353535;
    text-align:center;
}

.domacin2 {
    font-style: italic;
    font-family: Gotham;
    font-size: 24px;
    color:#353535;
    text-align:center;
}

.menu a {
    text-decoration: none;
    color: ghostwhite;
}

.natrag {
        text-decoration: none;
        color: #414781;
        font-size: 20px;
        margin-left: 1%;
    }

caption i {
        margin: 0;
    }

    table, th, td {
        border: 1px solid black;
      }

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

th {
    font-family: Gotham;
    background-color: #414781;
    color: #fcfcfc;
}

tr:hover {
    background-color: #fcfcfc;
}

.duo {
    background-color:#eaf2ff;
}

.grupa {
    background-color: rgb(255 249 239);
}
